.chatLog {
    width: 95%;
    height: 200px;
}

.chatCont {
    margin-top: 2.5em;
}

input[name='userName'] {
    width: 10%;
}
input[name='message'] {
    width: 74.25%;
}
input[type='submit'] {
    width: 10%;
}